<h1>Table of Contents<span class="tocSkip"></span></h1>
<div class="toc"><ul class="toc-item"><li><span><a href="#Create-SQLite-Function" data-toc-modified-id="Create-SQLite-Function-1"><span class="toc-item-num">1&nbsp;&nbsp;</span>Create SQLite Function</a></span><ul class="toc-item"><li><span><a href="#Connection-Function" data-toc-modified-id="Connection-Function-1.1"><span class="toc-item-num">1.1&nbsp;&nbsp;</span>Connection Function</a></span></li><li><span><a href="#Command-Function" data-toc-modified-id="Command-Function-1.2"><span class="toc-item-num">1.2&nbsp;&nbsp;</span>Command Function</a></span></li></ul></li><li><span><a href="#Loading-Data" data-toc-modified-id="Loading-Data-2"><span class="toc-item-num">2&nbsp;&nbsp;</span>Loading Data</a></span></li></ul></div>

In [1]:
import pandas as pd
import numpy as np

import sqlite3 as sqlite
from sqlite3 import Error

# Create SQLite Function

## Connection Function

In [2]:
def create_connection(path):
    connection = None
    try:
        connection = sqlite.connect(path)
        print("Connection to SQLite DB successful.")
    except Error as e:
        print(f"The error '{e}' occured.")
    return connection

## Command Function

In [3]:
def execute_command(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
#         print("Command query executed successfully.")
    except Error as e:
        print(f"The error '{e}' occured.")

<!-- ## Query Function -->

# Loading Data

Source: https://www.kaggle.com/anlgrbz/student-demographics-online-education-dataoulad

In [4]:
assessments = pd.read_csv('data/assessments.csv')
courses = pd.read_csv('data/courses.csv')
student_assessment = pd.read_csv('data/studentAssessment.csv')
student_info = pd.read_csv('data/studentInfo.csv')
student_registration = pd.read_csv('data/studentRegistration.csv')
vle = pd.read_csv('data/vle.csv')

In [5]:
oulad_students_conn = create_connection(r"D:\STUDY\AAMIIN\HACKTIV8\CLASS\F0_W2_D1\NGC\test.sqlite")

Connection to SQLite DB successful.

In [16]:
create_assessments_tab = """
CREATE TABLE IF NOT EXISTS b (
    code_module TEXT,
    code_presentation TEXT,
    id_assessment INT,
    assessment_type TEXT,
    date FLOAT,
    weight FLOAT
)
"""
execute_command(oulad_students_conn, create_assessments_tab)

In [17]:
for i in range(len(assessments)):
    insert_table = f"""
    INSERT INTO b (
        {", ".join(assessments.columns.to_list())}
    )
    VALUES (
        '{assessments['code_module'][i]}', '{assessments['code_presentation'][i]}',
        {assessments['id_assessment'][i]}, '{assessments['assessment_type'][i]}',
        {'NULL' if np.isnan(assessments['date'][i]) else assessments['date'][i]}, {assessments['weight'][i]}
    )
    """
    execute_command(oulad_students_conn, insert_table)

In [18]:
create_assessments_tab = """
CREATE TABLE IF NOT EXISTS c (
    code_module TEXT,
    code_presentation TEXT,
    id_assessment INT,
    assessment_type TEXT,
    date FLOAT,
    weight FLOAT
)
"""
execute_command(oulad_students_conn, create_assessments_tab)

In [19]:
for idx, row in assessments.iterrows():
    insert_t = f"""
    INSERT INTO c (
        {", ".join(assessments.columns.to_list())}
    )
    VALUES (
        '{row['code_module']}', '{row['code_presentation']}',
        {row['id_assessment']}, '{row['assessment_type']}',
        {'NULL' if np.isnan(row['date']) else row['date']}, {row['weight']}
    )
    """
    execute_command(oulad_students_conn, insert_t)

In [20]:
pd.read_sql_query("SELECT * FROM b", oulad_students_conn)

,code_module,code_presentation,id_assessment,assessment_type,date,weight
0,AAA,2013J,1752,TMA,19.0,10.0
1,AAA,2013J,1753,TMA,54.0,20.0
2,AAA,2013J,1754,TMA,117.0,20.0
3,AAA,2013J,1755,TMA,166.0,20.0
4,AAA,2013J,1756,TMA,215.0,30.0
...,...,...,...,...,...,...
201,GGG,2014J,37443,CMA,229.0,0.0
202,GGG,2014J,37435,TMA,61.0,0.0
203,GGG,2014J,37436,TMA,124.0,0.0
204,GGG,2014J,37437,TMA,173.0,0.0
205,GGG,2014J,37444,Exam,229.0,100.0

In [21]:
pd.read_sql_query("SELECT * FROM c", oulad_students_conn)

,code_module,code_presentation,id_assessment,assessment_type,date,weight
0,AAA,2013J,1752,TMA,19.0,10.0
1,AAA,2013J,1753,TMA,54.0,20.0
2,AAA,2013J,1754,TMA,117.0,20.0
3,AAA,2013J,1755,TMA,166.0,20.0
4,AAA,2013J,1756,TMA,215.0,30.0
...,...,...,...,...,...,...
201,GGG,2014J,37443,CMA,229.0,0.0
202,GGG,2014J,37435,TMA,61.0,0.0
203,GGG,2014J,37436,TMA,124.0,0.0
204,GGG,2014J,37437,TMA,173.0,0.0
205,GGG,2014J,37444,Exam,229.0,100.0

In [22]:
create_assessments_tab = """
CREATE TABLE IF NOT EXISTS d (
    code_module TEXT,
    code_presentation TEXT,
    id_assessment INT,
    assessment_type TEXT,
    date FLOAT,
    weight FLOAT
)
"""
execute_command(oulad_students_conn, create_assessments_tab)

In [24]:
for i in range(len(assessments)):
    insert_table = f"""
    INSERT INTO d (
        {", ".join(assessments.columns.to_list())}
    )
    VALUES (
        '{assessments['code_module'][i]}', '{assessments['code_presentation'][i]}',
        {assessments['id_assessment'][i]}, '{assessments['assessment_type'][i]}',
        {'NULL' if np.isnan(assessments['date'][i]) else assessments['date'][i]}, {assessments['weight'][i]}
    )
    """
    execute_command(oulad_students_conn, insert_table)

SyntaxError: invalid syntax (<ipython-input-24-7bfc0d0a928e>, line 6)

In [29]:
for i in range(len(assessments)):
    print(f"{assessments['code_module'][i]}")

AAA
AAA
AAA
AAA
AAA
AAA
AAA
AAA
AAA
AAA
AAA
AAA
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
BBB
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
CCC
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
DDD
EEE
EEE
EEE
EEE
EEE
EEE
EEE
EEE
EEE
EEE
EEE
EEE
EEE
EEE
EEE
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
FFF
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG
GGG

In [30]:
import sqlite3

persons = [
    ("Hugo", "Boss"),
    ("Calvin", "Klein")
]

con = sqlite3.connect(":memory:")

# Create the table
con.execute("create table person(firstname, lastname)")

# Fill the table
con.executemany("insert into person(firstname, lastname) values (?,?)", persons)